/* this selected all images, so I commented it out - it made all the images of the cards go wacky! -melissa 
.mg {
    width: 50px;
    height: 50px
}
*/
h1{
    text-align: center
}


div{
    display:block;
}

.rte {
    margin-bottom: 15px;
    line-height: 1.7;
    color: #777;
}
hr.hr--small {
    border-width: 1px 0 0;
    margin: 15px auto;
    width: 20px;
}
hr {
    clear: both;
    border-top: solid #ff94bd;
    height:0;
}

hr {
    display: block;
    unicode-bidi: isolate;
    margin-block-start: 0.5em;
    margin-block-end: 0.5em;
    margin-inline-start: auto;
    margin-inline-end: auto;
    overflow: hidden;
    border-style: inset;
}
.mug{
    top: 0;
    max-width: 560px;
    max-height: 460px;
    width:300px;
    height:200px;
    position:relative;
    padding-left:auto ;

}
.mg{
    width:50px;
    height:50px;
}

#aboutFirstImg {
    /* jenny, i changed the height and width to be rems so they will scale! -melissa */
    height: 20rem;
    width: 20rem;
    display: block;
    margin: 0 auto;
}

/* on bio cards, makes our roles in italic */
.card-role {
    font-style: italic;
    font-weight: bold;

}

.card {
    display: flex;
}