img {
    width: 150px;
    height: 50px
}
h1{
    text-align: center
}

/* on bio cards, makes our roles in italic */
.card-role {
    font-style: italic;
    font-weight: bold;

}

.card {
    display: flex;
}